@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: 'Space Grotesk', sans-serif;
}

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif !important;
}

@layer base {
  html {
    font-family: 'Space Grotesk', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @media (max-width: 640px) {
    .back-arrow {
      left: 12px !important;
      top: 10px !important;
    }
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}