@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import FontAwesome styles */
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Font Styles */
body {
  @apply bg-background text-foreground font-sans;
}

/* Optional Utility Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom Media Query for Small Screens */
  @media (max-width: 640px) {
    .back-arrow {
      left: 12px !important;  /* Adjust for small screen */
      top: 10px !important;   /* Adjust top position */
    }
  }

  /* Hide scrollbar utility */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;            /* Chrome, Safari, and Opera */
  }
}
